nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(237, 86, 21);
  padding: 1rem 2rem;
}
nav h2 {
  color: rgb(18, 18, 18);
  text-transform: capitalize;
}

.nav-links {
  display: flex;
  text-align: center;
}
.nav-links a {
  color: rgb(18, 18, 18);
  font-size: 1.2rem;
  margin: 0 1rem;
  transition: all 0.4s;
}
.nav-links a:hover {
  opacity: 0.8;
}
.nav-links p {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 0.7rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(80%, -80%);
}
